## Collecting all datasets

This notebook is used to fetch all the datasets in the sources

In [1]:
import pandas as pd
from logging import getLogger

from src.data_collection.comuni import fetch_dataset_comuni
from src.data_collection.indicators import get_indicators
from src.data_collection.indicators_sdg import get_indicators_and_sdg 
from src.data_collection.missioni import fetch_pnrr_missions
from src.data_collection.p01 import get_p01
from src.data_collection.p02 import get_p02
from src.data_collection.p03 import get_p03
from src.data_collection.p04 import get_p04
from src.data_collection.p05 import get_p05
from src.data_collection.targets import get_targets

In [2]:
p01 = get_p01()

print(p01.shape)
print(p01.columns)
p01.head()

(4801727, 2)
Index(['CIG', 'CUP'], dtype='object')

          CIG              CUP
0  6552572977  G14B15000200001
1  B14CDE52DA  D65F23000400003
2  B1F0C3EA75              NaN
3  B0D0856CE7              NaN
4  B120945C39              NaN

In [4]:
p01.to_parquet("data/updated/p01.parquet")

In [5]:
p02 = get_p01()

print(p02.shape)
print(p02.columns)
p02.head()

(4801727, 2)
Index(['CIG', 'CUP'], dtype='object')

          CIG              CUP
0  6552572977  G14B15000200001
1  B14CDE52DA  D65F23000400003
2  B1F0C3EA75              NaN
3  B0D0856CE7              NaN
4  B120945C39              NaN

In [6]:
p02.to_parquet("data/updated/p02.parquet")

In [7]:
p03 = get_p03()
print(p03.shape)
print(p03.columns)
p03.head()

(18615, 3)
Index(['cig', 'cod_mis_premiale', 'misura_premiale'], dtype='object')

,cig,cod_mis_premiale,misura_premiale
0,A02F90328C,2,UTILIZZI O SI IMPEGNI A UTILIZZARE SPECIFICI S...
1,A009AAD54C,1,NEI TRE ANNI ANTECEDENTI LA DATA DI SCADENZA D...
2,98614695A8,1,NEI TRE ANNI ANTECEDENTI LA DATA DI SCADENZA D...
3,A01153D996,3,"SI IMPEGNI AD ASSUMERE, OLTRE ALLA SOGLIA MINI..."
4,A01153D996,11,ALTRO CRITERIO DI RESPONSABILITÀ SOCIALE NEI C...

In [8]:
p03.to_parquet("data/updated/p03.parquet")

In [9]:
p04 = get_p04()
print(p04.shape)
print(p04.columns)
p04.head()

(11723, 6)
Index(['cig', 'flag_quote', 'quota_femminile', 'quota_giovanile',
       'cod_mot_deroga', 'mot_deroga'],
      dtype='object')

,cig,flag_quote,quota_femminile,quota_giovanile,cod_mot_deroga,mot_deroga
0,A00C11AB0A,N,NaN,NaN,1,IMPORTO RIDOTTO DEL CONTRATTO
1,A02C35EDB4,N,NaN,NaN,8,ALTRO
2,9887941B09,N,NaN,NaN,8,ALTRO
3,A0464BB8FE,N,NaN,NaN,1,IMPORTO RIDOTTO DEL CONTRATTO
4,A0464BB8FE,N,NaN,NaN,6,NECESSITÀ DI ESPERIENZA O DI PARTICOLARI ABILI...

In [10]:
p04.to_parquet("data/updated/p04.parquet")

In [11]:
p05 = get_p05()
print(p05.shape)
print(p05.columns)
p05.head()

(210264, 61)
Index(['cig', 'cig_accordo_quadro', 'numero_gara', 'oggetto_gara',
       'importo_complessivo_gara', 'n_lotti_componenti', 'oggetto_lotto',
       'importo_lotto', 'oggetto_principale_contratto', 'stato', 'settore',
       'luogo_istat', 'provincia', 'data_pubblicazione',
       'data_scadenza_offerta', 'cod_tipo_scelta_contraente',
       'tipo_scelta_contraente', 'cod_modalita_realizzazione',
       'modalita_realizzazione', 'codice_ausa',
       'cf_amministrazione_appaltante',
       'denominazione_amministrazione_appaltante', 'sezione_regionale',
       'id_centro_costo', 'denominazione_centro_costo', 'anno_pubblicazione',
       'mese_pubblicazione', 'cod_cpv', 'descrizione_cpv', 'flag_prevalente',
       'COD_MOTIVO_CANCELLAZIONE', 'MOTIVO_CANCELLAZIONE',
       'DATA_CANCELLAZIONE', 'DATA_ULTIMO_PERFEZIONAMENTO',
       'COD_MODALITA_INDIZIONE_SPECIALI', 'MODALITA_INDIZIONE_SPECIALI',
       'COD_MODALITA_INDIZIONE_SERVIZI', 'MODALITA_INDIZIONE_SERVIZI',
       'DURATA_PREVISTA', 'COD_STRUMENTO_SVOLGIMENTO', 'STRUMENTO_SVOLGIMENTO',
       'FLAG_URGENZA', 'COD_MOTIVO_URGENZA', 'MOTIVO_URGENZA', 'FLAG_DELEGA',
       'FUNZIONI_DELEGATE', 'CF_SA_DELEGANTE', 'DENOMINAZIONE_SA_DELEGANTE',
       'CF_SA_DELEGATA', 'DENOMINAZIONE_SA_DELEGATA', 'IMPORTO_SICUREZZA',
       'TIPO_APPALTO_RISERVATO', 'CUI_PROGRAMMA', 'FLAG_PREV_RIPETIZIONI',
       'COD_IPOTESI_COLLEGAMENTO', 'IPOTESI_COLLEGAMENTO', 'CIG_COLLEGAMENTO',
       'COD_ESITO', 'ESITO', 'DATA_COMUNICAZIONE_ESITO', 'FLAG_PNRR_PNC'],
      dtype='object')

,cig,cig_accordo_quadro,numero_gara,oggetto_gara,importo_complessivo_gara,n_lotti_componenti,oggetto_lotto,importo_lotto,oggetto_principale_contratto,stato,...,TIPO_APPALTO_RISERVATO,CUI_PROGRAMMA,FLAG_PREV_RIPETIZIONI,COD_IPOTESI_COLLEGAMENTO,IPOTESI_COLLEGAMENTO,CIG_COLLEGAMENTO,COD_ESITO,ESITO,DATA_COMUNICAZIONE_ESITO,FLAG_PNRR_PNC
0,9766166F1F,NaN,9042660,'AVVISO INVESTIMENTO 1.2 'ABILITAZIONE AL CLOU...,9800.0,1,'AVVISO INVESTIMENTO 1.2 'ABILITAZIONE AL CLOU...,9800.0,SERVIZI,ATTIVO,...,NaN,00104440144202300001,1,NaN,NaN,NaN,NaN,NaN,NaN,1
1,A019FC8DE0,7194294737,9362129,PNRR MISSIONE 6 COMPONENTE 2 INVESTIMENTO 1.1....,225000.0,1,PNRR MISSIONE 6 COMPONENTE 2 INVESTIMENTO 1.1....,225000.0,FORNITURE,ATTIVO,...,NaN,0000000000000000000000,0,NaN,NaN,NaN,NaN,NaN,NaN,1
2,819779499C,NaN,7678766,S.C. 20178924 QUADRI DI BASSA TENSIONE PER CAB...,8280000.0,2,S.C. 20178924 SCOMPARTO DI BASSA TENSIONE TIPO...,3312000.0,FORNITURE,ATTIVO,...,NaN,NaN,1,NaN,NaN,NaN,1.0,AGGIUDICATA,2023-08-29,1
3,8226615176,7040391A70,7700533,FORNITURA CUCINE DI REPARTO,50000.0,1,FORNITURA CUCINE DI REPARTO,50000.0,FORNITURE,ATTIVO,...,NaN,NaN,0,NaN,NaN,NaN,1.0,AGGIUDICATA,2021-01-22,1
4,82066050B0,NaN,7686388,GARA GBO PER INAIL - ID 2208,9693890.0,2,LOTTO 2 - GARA GBO PER INAIL ID 2208,1703390.0,SERVIZI,ATTIVO,...,NaN,NaN,0,NaN,NaN,NaN,1.0,AGGIUDICATA,2022-01-18,1

In [12]:
p05.to_parquet("data/updated/p05.parquet")

In [13]:
comuni = fetch_dataset_comuni()
print(comuni.shape)
print(comuni.columns)
comuni.head()

(107, 2)
Index(['Regione', 'Denominazione sovracomunale'], dtype='object')

      Regione Denominazione sovracomunale
0    Piemonte                      TORINO
312  Piemonte                    VERCELLI
394  Piemonte                      NOVARA
481  Piemonte                       CUNEO
728  Piemonte                        ASTI

In [14]:
comuni.to_parquet("data/updated/comuni.parquet")

In [15]:
missions, components = fetch_pnrr_missions()
print(missions.shape)
print(missions.columns)
missions.head()

(6, 1)
Index(['MISSIONE'], dtype='object')

                                             MISSIONE
M1  DIGITALIZZAZIONE, INNOVAZIONE, COMPETITIVITÀ, ...
M2          RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA
M3        INFRASTRUTTURE PER UNA MOBILITÀ SOSTENIBILE
M4                               ISTRUZIONE E RICERCA
M5                              INCLUSIONE E COESIONE

In [16]:
missions.to_parquet("data/updated/missions.parquet")

In [17]:
print(components.shape)
print(components.columns)
components.head()

(16, 1)
Index(['COMPONENTE'], dtype='object')

                                             COMPONENTE
M1C1  DIGITALIZZAZIONE, INNOVAZIONE E SICUREZZA NELL...
M1C2  DIGITALIZZAZIONE, INNOVAZIONE E COMPETITIVITÀ ...
M1C3                              TURISMO E CULTURA 4.0
M2C1      AGRICOLTURA SOSTENIBILE ED ECONOMIA CIRCOLARE
M2C2      TRANSIZIONE ENERGETICA E MOBILITÀ SOSTENIBILE

In [18]:
components.to_parquet("data/updated/components.parquet")

In [19]:
indicators = get_indicators()
print(indicators.shape)
print(indicators.columns)
indicators.head()

(754, 17)
Index(['Programma', 'Missione', 'Descrizione Missione', 'Componente',
       'Descrizione Componente', 'ID Misura', 'Codice Univoco Misura',
       'Descrizione Misura', 'ID Submisura', 'Codice Univoco Submisura',
       'Codice CID', 'Descrizione Submisura', 'Amministrazione Titolare',
       'Codice Indicatore', 'Descrizione Indicatore', 'Unità di misura',
       'Stock/Flusso'],
      dtype='object')

,Programma,Missione,Descrizione Missione,Componente,Descrizione Componente,ID Misura,Codice Univoco Misura,Descrizione Misura,ID Submisura,Codice Univoco Submisura,Codice CID,Descrizione Submisura,Amministrazione Titolare,Codice Indicatore,Descrizione Indicatore,Unità di misura,Stock/Flusso
0,PNRR,M1,"Digitalizzazione, innovazione, competitività e...",M1C1,"Digitalizzazione, innovazione e sicurezza nell...",M1C1I1.3,M1C1I1.03,Dati e interoperabilità,M1C1I1.3.2,M1C1I1.03.02,M1C1I1.3.2,Sportello digitale unico,PCM - DIPARTIM. TRASFORMAZIONE DIGITALE,C7,"UTENTI DI SERVIZI, PRODOTTI E PROCESSI DIGITAL...",Utenti / anno,Flusso
1,PNRR,M1,"Digitalizzazione, innovazione, competitività e...",M1C1,"Digitalizzazione, innovazione e sicurezza nell...",M1C1I1.4,M1C1I1.04,Servizi digitali e esperienza dei cittadini,M1C1I1.4.3,M1C1I1.04.03,M1C1I1.4.3,Rafforzamento dell'adozione dei servizi della ...,PCM - DIPARTIM. TRASFORMAZIONE DIGITALE,C7,"UTENTI DI SERVIZI, PRODOTTI E PROCESSI DIGITAL...",Utenti / anno,Flusso
2,PNRR,M1,"Digitalizzazione, innovazione, competitività e...",M1C1,"Digitalizzazione, innovazione e sicurezza nell...",M1C1I1.4,M1C1I1.04,Servizi digitali e esperienza dei cittadini,M1C1I1.4.4,M1C1I1.04.04,M1C1I1.4.4,Rafforzamento dell'adozione delle piattaforme ...,PCM - DIPARTIM. TRASFORMAZIONE DIGITALE,C7,"UTENTI DI SERVIZI, PRODOTTI E PROCESSI DIGITAL...",Utenti / anno,Flusso
3,PNRR,M1,"Digitalizzazione, innovazione, competitività e...",M1C1,"Digitalizzazione, innovazione e sicurezza nell...",M1C1I1.4,M1C1I1.04,Servizi digitali e esperienza dei cittadini,M1C1I1.4.5,M1C1I1.04.05,M1C1I1.4.5,Digitalizzazione degli avvisi pubblici,PCM - DIPARTIM. TRASFORMAZIONE DIGITALE,C7,"UTENTI DI SERVIZI, PRODOTTI E PROCESSI DIGITAL...",Utenti / anno,Flusso
4,PNRR,M1,"Digitalizzazione, innovazione, competitività e...",M1C1,"Digitalizzazione, innovazione e sicurezza nell...",M1C1I1.4,M1C1I1.04,Servizi digitali e esperienza dei cittadini,M1C1I1.4.6,M1C1I1.04.06,M1C1I1.4.6,Mobilità come servizio per l'Italia,PCM - DIPARTIM. TRASFORMAZIONE DIGITALE,C7,"UTENTI DI SERVIZI, PRODOTTI E PROCESSI DIGITAL...",Utenti / anno,Flusso

In [20]:
indicators.to_parquet("data/updated/indicators.parquet")

In [21]:
indicators_sdg = get_indicators_and_sdg()
print(indicators_sdg.shape)
print(indicators_sdg.columns)
indicators_sdg.head()

(553, 26)
Index(['COD_MISSIONE', 'DES_MISSIONE', 'COD_COMPONENTE', 'DES_COMPONENTE',
       'COD_MISURA', 'DES_MISURA', 'COD_SUB_MISURA', 'DES_SUB_MISURA',
       'DES_LIVELLO', 'IMPORTO', 'DES_INVESTIMENTO', 'DES_PRESTITO',
       'DES_AMMINISTRAZIONE', 'PREVALENTE', 'INDICATORE', 'DES_INDICATORE',
       'DES_INDAGINE', 'NOTA', 'DES_FONTE', 'DES_UNITA', 'GOAL', 'DES_GOAL',
       'TARGET', 'DES_TARGET', 'INDICATOR', 'DES_INDICATOR'],
      dtype='object')

,COD_MISSIONE,DES_MISSIONE,COD_COMPONENTE,DES_COMPONENTE,COD_MISURA,DES_MISURA,COD_SUB_MISURA,DES_SUB_MISURA,DES_LIVELLO,IMPORTO,...,DES_INDAGINE,NOTA,DES_FONTE,DES_UNITA,GOAL,DES_GOAL,TARGET,DES_TARGET,INDICATOR,DES_INDICATOR
0,M1,"Digitalizzazione, innovazione, competitività e...",M1C1,"Digitalizzazione, innovazione e sicurezza nell...",M1C1I1.01,Infrastrutture digitali,M1C1I1.01.00,Infrastrutture digitali,Misura,"900000000,00",...,NaN,NaN,NaN,NaN,16,Promuovere società pacifiche e inclusive per u...,NaN,NaN,NaN,NaN
1,M1,"Digitalizzazione, innovazione, competitività e...",M1C1,"Digitalizzazione, innovazione e sicurezza nell...",M1C1I1.02,Abilitazione al cloud per le PA locali,M1C1I1.02.00,Abilitazione al cloud per le PA locali,Misura,"1000000000,00",...,NaN,NaN,NaN,NaN,16,Promuovere società pacifiche e inclusive per u...,NaN,NaN,NaN,NaN
2,M1,"Digitalizzazione, innovazione, competitività e...",M1C1,"Digitalizzazione, innovazione e sicurezza nell...",M1C1I1.03,Dati e interoperabilità,M1C1I1.03.01,Piattaforma Digitale Nazionale Dati,Sub-Misura,"556000000,00",...,NaN,NaN,NaN,NaN,16,Promuovere società pacifiche e inclusive per u...,NaN,NaN,NaN,NaN
3,M1,"Digitalizzazione, innovazione, competitività e...",M1C1,"Digitalizzazione, innovazione e sicurezza nell...",M1C1I1.03,Dati e interoperabilità,M1C1I1.03.02,Sportello digitale unico,Sub-Misura,"90000000,00",...,NaN,NaN,NaN,NaN,16,Promuovere società pacifiche e inclusive per u...,NaN,NaN,NaN,NaN
4,M1,"Digitalizzazione, innovazione, competitività e...",M1C1,"Digitalizzazione, innovazione e sicurezza nell...",M1C1I1.04,Servizi digitali e esperienza dei cittadini,M1C1I1.04.01,Esperienza dei cittadini - Miglioramento della...,Sub-Misura,"613000000,00",...,NaN,NaN,NaN,NaN,16,Promuovere società pacifiche e inclusive per u...,NaN,NaN,NaN,NaN

In [22]:
indicators_sdg.to_parquet("data/updated/indicators_sdg.parquet")

In [23]:
targets = get_targets()
print(targets.shape)
print(targets.columns)
targets.head()

(84893, 13)
Index(['Codice Univoco Submisura', 'Descrizione Submisura', 'CUP',
       'Codice Locale Progetto', 'Codice Indicatore', 'Descrizione Indicatore',
       'Unità di Misura', 'Descrizione Unità di Misura', 'Valore Programmato',
       'Valore Realizzato', 'Mese', 'Anno', 'Data di Aggiornamento'],
      dtype='object')

,Codice Univoco Submisura,Descrizione Submisura,CUP,Codice Locale Progetto,Codice Indicatore,Descrizione Indicatore,Unità di Misura,Descrizione Unità di Misura,Valore Programmato,Valore Realizzato,Mese,Anno,Data di Aggiornamento
0,M1C1I1.01.00,Infrastrutture digitali,D31C23000790006,PRJ_110ASL0323X_000100,T0081,NR. DI AMMINISTRAZIONI MIGRATE AL POLO STRATEG...,12,Numero,"0,00","0,00",Settembre,2023,20/02/2024
1,M1C1I1.01.00,Infrastrutture digitali,F71C23000580006,PRJ_110ASL0323X_000090,T0081,NR. DI AMMINISTRAZIONI MIGRATE AL POLO STRATEG...,12,Numero,"0,00","0,00",Settembre,2023,20/02/2024
2,M1C1I1.01.00,Infrastrutture digitali,G21C23000500006,PRJ_110ASL0323X_000146,T0081,NR. DI AMMINISTRAZIONI MIGRATE AL POLO STRATEG...,12,Numero,"0,00","0,00",Settembre,2023,20/02/2024
3,M1C1I1.01.00,Infrastrutture digitali,F31C23000610006,PRJ_110ASL0323X_000089,T0081,NR. DI AMMINISTRAZIONI MIGRATE AL POLO STRATEG...,12,Numero,"0,00","0,00",Settembre,2023,20/02/2024
4,M1C1I1.01.00,Infrastrutture digitali,J81C23000680006,PRJ_110ASL0323X_000118,T0081,NR. DI AMMINISTRAZIONI MIGRATE AL POLO STRATEG...,12,Numero,"0,00","0,00",Settembre,2023,20/02/2024

In [24]:
targets.to_parquet("data/updated/targets.parquet")