In [12]:
import pandas as pd
import requests
from io import BytesIO
from zipfile import ZipFile

from src.sources import P04_URL, P04_FILENAME  # Import the URL and filename for P04
from src.utils import fetch_csv_from_zip  # Import the utility function

In [10]:
# Fetch the ZIP file from the URL
response = requests.get(P04_URL)
response.raise_for_status()  # Raise an HTTPError for bad responses

# Use BytesIO to handle the ZIP file in memory
with ZipFile(BytesIO(response.content)) as zip_file:
    with zip_file.open(P04_FILENAME) as file:
        df = pd.read_csv(file, sep=";", na_values=["NA", "ND"])

In [11]:
df.shape

(11723, 6)

In [8]:
df.head()

,cig,flag_quote,quota_femminile,quota_giovanile,cod_mot_deroga,mot_deroga
0,A00C11AB0A,N,NaN,NaN,1,IMPORTO RIDOTTO DEL CONTRATTO
1,A02C35EDB4,N,NaN,NaN,8,ALTRO
2,9887941B09,N,NaN,NaN,8,ALTRO
3,A0464BB8FE,N,NaN,NaN,1,IMPORTO RIDOTTO DEL CONTRATTO
4,A0464BB8FE,N,NaN,NaN,6,NECESSITÀ DI ESPERIENZA O DI PARTICOLARI ABILI...