In [1]:
import pandas as pd 
import numpy as np

In [9]:
p04 = pd.read_csv("./datasets/indicatori-pnrrpnc_csv.csv",delimiter=';')
p03 = pd.read_csv("./datasets/misurepremiali-pnrrpnc_csv.csv",delimiter=';')

In [10]:
print(p04.shape)
p04['cig'].nunique()
p03['misura_premiale'].unique()

(227394, 6)

array(["SI IMPEGNI AD ASSUMERE, OLTRE ALLA SOGLIA MINIMA PERCENTUALE PREVISTA COME REQUISITO DI PARTECIPAZIONE, DONNE PER L'ESECUZIONE DEL CONTRATTO O PER LA REALIZZAZIONE DI ATTIVITÀ AD ESSO CONNESSE O STRUMENTALI",
       'UTILIZZI O SI IMPEGNI A UTILIZZARE SPECIFICI STRUMENTI DI CONCILIAZIONE DELLE ESIGENZE DI CURA, DI VITA E DI LAVORO PER I PROPRI DIPENDENTI, NONCHÉ MODALITÀ INNOVATIVE DI ORGANIZZAZIONE DEL LAVORO',
       'ALTRO CRITERIO DI RESPONSABILITÀ SOCIALE NEI CONFRONTI DEI DIVARI DI GENERE',
       "SI IMPEGNI AD ASSUMERE, OLTRE ALLA SOGLIA MINIMA PERCENTUALE PREVISTA COME REQUISITO DI PARTECIPAZIONE GIOVANI DI ETÀ INFERIORE A TRENTASEI ANNI PER L'ESECUZIONE DEL CONTRATTO O PER LA REALIZZAZIONE DI ATTIVITÀ AD ESSO CONNESSE O STRUMENTALI",
       "SI IMPEGNI AD ASSUMERE, OLTRE ALLA SOGLIA MINIMA PERCENTUALE PREVISTA COME REQUISITO DI PARTECIPAZIONE, PERSONE DISABILI PER L'ESECUZIONE DEL CONTRATTO O PER LA REALIZZAZIONE DI ATTIVITÀ AD ESSO CONNESSE O STRUMENTALI",
       'ALTRO CRITERIO PER LU2019INCLUSIONE DEI LAVORATORI DISABILI',
       "NEI TRE ANNI ANTECEDENTI LA DATA DI SCADENZA DEL TERMINE DI PRESENTAZIONE DELLE OFFERTE, NON RISULTI DESTINATARIO DI ACCERTAMENTI RELATIVI AD ATTI O COMPORTAMENTI DISCRIMINATORI AI SENSI DELL'ARTICOLO 44 DEL D.LGS 25 LUGLIO 1998, N. 286, DELL'ARTICOLO 4 DEL 9 LUGLIO 2003, N. 215, DELL'ARTICOLO 4 DEL D.LGS 9 LUGLIO 2003, N. 216, DELL'ARTICOLO 3 DELLA LEGGE 1° MARZO 2006, N. 67, DEGLI ARTICOLI 35 E 55-QUINQUIES DEL D.LGS. 11 APRILE 2006, N. 198, OVVERO DELL'ARTICOLO 54 DEL D.LGS. 26 MARZO 2001, N. 151",
       'ALTRO CRITERIO DI RESPONSABILITÀ SOCIALE NEI CONFRONTI DEI DIVARI INTERGENERAZIONALI',
       "ABBIA, NELL'ULTIMO TRIENNIO, RISPETTATO I PRINCIPI DELLA PARITÀ DI GENERE, ANCHE TENENDO CONTO DEL RAPPORTO TRA UOMINI E DONNE NELLE ASSUNZIONI, NEI LIVELLI RETRIBUTIVI E NEL CONFERIMENTO DI INCARICHI APICALI",
       "ABBIA, NELL'ULTIMO TRIENNIO, ADOTTATO SPECIFICHE MISURE PER PROMUOVERE LE PARI OPPORTUNITÀ GENERAZIONALI",
       "ABBIA, NELL'ULTIMO TRIENNIO, RISPETTATO GLI OBBLIGHI DI CUI ALLA LEGGE 12 MARZO 1999, N. 68 IN MATERIA DI LAVORO DELLE PERSONE DISABILI",
       "ABBIA PRESENTATO O SI IMPEGNI A PRESENTARE PER CIASCUNO DEGLI ESERCIZI FINANZIARI, RICOMPRESI NELLA DURATA DEL CONTRATTO DI APPALTO, UNA DICHIARAZIONE VOLONTARIA DI CARATTERE NON FINANZIARIO AI SENSI DELL'ARTICOLO 7 DEL D.LGS. 30 DICEMBRE 2016, N. 254"],
      dtype=object)

In [8]:
p04

,cig,flag_quote,quota_femminile,quota_giovanile,cod_mot_deroga,mot_deroga
0,9733710F95,Q,10.0,30.0,2.0,MERCATO DI RIFERIMENTO
1,9958495A0A,N,NaN,NaN,8.0,ALTRO
2,9976447880,N,NaN,NaN,8.0,ALTRO
3,9969899CEA,N,NaN,NaN,1.0,IMPORTO RIDOTTO DEL CONTRATTO
4,9749296D8F,N,NaN,NaN,1.0,IMPORTO RIDOTTO DEL CONTRATTO
...,...,...,...,...,...,...
227389,9667709DD6,NaN,NaN,NaN,NaN,NaN
227390,9528270126,S,NaN,NaN,NaN,NaN
227391,A04534A45D,S,NaN,NaN,NaN,NaN
227392,90982300EA,NaN,NaN,NaN,NaN,NaN
227393,A0206E5561,S,NaN,NaN,NaN,NaN