Approfondimento deroghe e merge finali tra p5, p3, p4 con p1 e p2

P01 : associazione CIG-CUP

P02 : anagrafica CUP [OpenCUP]

P03 : dataset CIG - MISURE PREMIALI

P04 : dataset CIG - quote/deroghe

PNEW : dataset CIG - anagrafica CIG [per CIG PNRR, 2023]

COMUNI : Istat

In [1]:
import pandas as pd
import numpy as np

In [2]:
# datasets
pnew = pd.read_csv("./datasets/pnrr.csv",delimiter=',',encoding = "UTF-8")
p03 = pd.read_excel("./datasets/p06-p03-p04_formattati.xlsx", sheet_name="misurepremiali-pnrrpnc_csv")
p04 = pd.read_excel("./datasets/p06-p03-p04_formattati.xlsx", sheet_name="indicatori-pnrrpnc_csv")

C:\Users\Alessandra\AppData\Local\Temp\ipykernel_12696\3709095954.py:2: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  pnew = pd.read_csv("./datasets/pnrr.csv",delimiter=',',encoding = "UTF-8")

In [3]:
p01 = pd.read_csv("./datasets/cup_csv.csv",delimiter=';',encoding = "ISO-8859-1")
p02 = pd.read_excel("./datasets/CUP_PNRR_2023_12_08.xlsx")

In [4]:
comuni = pd.read_csv("./datasets/Elenco-comuni-italiani.csv",delimiter=';',encoding = "ISO-8859-1")

In [5]:
# preprocessing
pnew = pnew.rename(columns={'cig':'CIG'})
p03 = p03.rename(columns={'cig':'CIG'})
p04 = p04.rename(columns={'cig':'CIG'})

In [ ]:
# pre-processing p03
# add colonna 'CATEGORIA'
# pre-processing p04
# pre-processing p02
# pre-processing pNEW5

In [25]:
# pre-processing p04
# re-encode quote

In [ ]:
# pre-processing p02
# add colonna 'CODICE COMPONENTE', 'CODICE MISSIONE', 'COMPONENTE', 'INVESTIMENTO' 
# add colonna 'MISSIONE'

In [27]:
# # pre-processing p05 pnew
# add colonna 'REGIONI'
# add colonna 'CLASSE_IMPORTO'

Approfondimento missioni

In [6]:
p02.columns

Index(['CODICE_CUP', 'CODICE_TEMATICA', 'NOME_TEMATICA', 'CODICE_TEMPLATE',
       'DESCRIZIONE_TEMPLATE', 'CODICE_NATURA', 'DESCRIZIONE_NATURA',
       'CODICE_TIPOLOGIA', 'DESCRIZIONE_TIPOLOGIA', 'DESCRIZIONE_AGGREGATA',
       'SOGGETTO_TITOLARE', 'PIVA_SOGGETTO', 'UNITA_ORGANIZZATIVA',
       'STRUMENTO_PROGRAMMAZIONE', 'CODICE_STATO', 'STATO', 'CODICE_REGIONE',
       'REGIONE', 'CODICE_PROVINCIA', 'PROVINCIA', 'CODICE_COMUNE', 'COMUNE',
       'CODICE_SETTORE_INTERVENTO', 'SETTORE_INTERVENTO',
       'CODICE_SOTTOSETTORE_INTERVENTO', 'SOTTOSETTORE_INTERVENTO',
       'CODICE_CATEGORIA_INTERVENTO', 'CATEGORIA_INTERVENTO', 'ANNO_DECISIONE',
       'DATA_GENERAZIONE_COMPLETO', 'COSTO_PROGETTO', 'IMPORTO_FINANZIAMENTO',
       'STATO_PROGETTO', 'TIPO_PROGETTO'],
      dtype='object')

In [7]:
tmp = p02

In [8]:
def map_comp(tematica):
    if tematica.count('-')==1:
        componente = tematica[6:tematica.find('-')-1]
    else:
        componente = tematica[6:tematica.find('I')-4]
    return componente

def map_investimento(tematica):
    # con numeri
    if tematica.count('-')==1:
        investimento = tematica[tematica.find('-')+2:]
    else:
        first = tematica.find('-')+1
        tematica = tematica[first:]
        investimento = tematica[tematica.find('-')+2:]
    return investimento

"""def map_investimento(tematica):
    # senza numeri
    investimento = tematica[tematica.find('-')+7:]
    return investimento"""



tmp["CODICE_COMPONENTE"] = tmp["NOME_TEMATICA"].apply(lambda x: x[:4])
tmp["CODICE_MISSIONE"] = tmp["NOME_TEMATICA"].apply(lambda x: x[:2])
tmp["COMPONENTE"] = tmp['NOME_TEMATICA'].apply(map_comp)
tmp["INVESTIMENTO"] = tmp['NOME_TEMATICA'].apply(map_investimento)

In [9]:
tmp.columns

Index(['CODICE_CUP', 'CODICE_TEMATICA', 'NOME_TEMATICA', 'CODICE_TEMPLATE',
       'DESCRIZIONE_TEMPLATE', 'CODICE_NATURA', 'DESCRIZIONE_NATURA',
       'CODICE_TIPOLOGIA', 'DESCRIZIONE_TIPOLOGIA', 'DESCRIZIONE_AGGREGATA',
       'SOGGETTO_TITOLARE', 'PIVA_SOGGETTO', 'UNITA_ORGANIZZATIVA',
       'STRUMENTO_PROGRAMMAZIONE', 'CODICE_STATO', 'STATO', 'CODICE_REGIONE',
       'REGIONE', 'CODICE_PROVINCIA', 'PROVINCIA', 'CODICE_COMUNE', 'COMUNE',
       'CODICE_SETTORE_INTERVENTO', 'SETTORE_INTERVENTO',
       'CODICE_SOTTOSETTORE_INTERVENTO', 'SOTTOSETTORE_INTERVENTO',
       'CODICE_CATEGORIA_INTERVENTO', 'CATEGORIA_INTERVENTO', 'ANNO_DECISIONE',
       'DATA_GENERAZIONE_COMPLETO', 'COSTO_PROGETTO', 'IMPORTO_FINANZIAMENTO',
       'STATO_PROGETTO', 'TIPO_PROGETTO', 'CODICE_COMPONENTE',
       'CODICE_MISSIONE', 'COMPONENTE', 'INVESTIMENTO'],
      dtype='object')

In [10]:
tmp[["CODICE_CUP","CODICE_TEMATICA","NOME_TEMATICA","CODICE_COMPONENTE","CODICE_MISSIONE",'COMPONENTE','INVESTIMENTO']]

,CODICE_CUP,CODICE_TEMATICA,NOME_TEMATICA,CODICE_COMPONENTE,CODICE_MISSIONE,COMPONENTE,INVESTIMENTO
0,D97H23002600004,432,M2C1: Agricoltura sostenibile ed Economia Circ...,M2C1,M2,Agricoltura sostenibile ed Economia Circolare,I2.2:Parco Agrisolare
1,D87H23003000004,432,M2C1: Agricoltura sostenibile ed Economia Circ...,M2C1,M2,Agricoltura sostenibile ed Economia Circolare,I2.2:Parco Agrisolare
2,D87H23002990004,432,M2C1: Agricoltura sostenibile ed Economia Circ...,M2C1,M2,Agricoltura sostenibile ed Economia Circolare,I2.2:Parco Agrisolare
3,D37H23002980004,432,M2C1: Agricoltura sostenibile ed Economia Circ...,M2C1,M2,Agricoltura sostenibile ed Economia Circolare,I2.2:Parco Agrisolare
4,D87H23002980004,432,M2C1: Agricoltura sostenibile ed Economia Circ...,M2C1,M2,Agricoltura sostenibile ed Economia Circolare,I2.2:Parco Agrisolare
...,...,...,...,...,...,...,...
359877,J71H92000000007,476,M3C1: Investimenti sulla rete ferroviaria - I1...,M3C1,M3,Investimenti sulla rete ferroviaria,I1.5:Potenziamento dei nodi ferroviari metropo...
359878,J71H92000000007,476,M3C1: Investimenti sulla rete ferroviaria - I1...,M3C1,M3,Investimenti sulla rete ferroviaria,I1.5:Potenziamento dei nodi ferroviari metropo...
359879,J71H92000000007,476,M3C1: Investimenti sulla rete ferroviaria - I1...,M3C1,M3,Investimenti sulla rete ferroviaria,I1.5:Potenziamento dei nodi ferroviari metropo...
359880,J71H92000000007,476,M3C1: Investimenti sulla rete ferroviaria - I1...,M3C1,M3,Investimenti sulla rete ferroviaria,I1.5:Potenziamento dei nodi ferroviari metropo...
359881,J19G01000000001,478,M3C1: Investimenti sulla rete ferroviaria - I1...,M3C1,M3,Investimenti sulla rete ferroviaria,"I1.7:Potenziamento, elettrificazione e aumento..."

In [11]:
match_investimenti = tmp[["CODICE_TEMATICA","CODICE_MISSIONE",'COMPONENTE',"CODICE_COMPONENTE",'INVESTIMENTO']].drop_duplicates()

In [12]:
match_investimenti

,CODICE_TEMATICA,CODICE_MISSIONE,COMPONENTE,CODICE_COMPONENTE,INVESTIMENTO
0,432,M2,Agricoltura sostenibile ed Economia Circolare,M2C1,I2.2:Parco Agrisolare
5,491,M4,Potenziamento dell¿offerta dei servizi di istr...,M4C1,I3.1:Nuove competenze e nuovi linguaggi
328,462,M2,Tutela del territorio e della risorsa idrica,M2C4,"I2.2:Interventi per la resilienza, la valorizz..."
390,429,M2,Agricoltura sostenibile ed Economia Circolare,M2C1,I1.1:Realizzazione nuovi impianti di gestione ...
446,509,M5,Politiche per il lavoro,M5C1,I1.2:Creazione di imprese femminili
...,...,...,...,...,...
280399,472,M3,Investimenti sulla rete ferroviaria,M3C1,I1.1:Collegamenti ferroviari ad Alta Velocità ...
296861,475,M3,Investimenti sulla rete ferroviaria,M3C1,I1.4:Sviluppo del sistema europeo di gestione ...
304042,481,M3,Intermodalità e logistica integrata,M3C2,I2.2:Digitalizzazione della gestione del traff...
325194,479,M3,Investimenti sulla rete ferroviaria,M3C1,I1.8:Miglioramento delle stazioni ferroviarie ...
325253,415,M1,"Digitalizzazione, innovazione e competitività...",M1C2,5 Politiche industriali di filiera e internazi...

In [13]:
missioni_map = pd.read_json("./missioni_pnrr.json", orient="index")
missioni_map.columns = ["MISSIONE"]
missioni_map

                                             MISSIONE
M1  DIGITALIZZAZIONE, INNOVAZIONE, COMPETITIVITÀ, ...
M2          RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA
M3        INFRASTRUTTURE PER UNA MOBILITÀ SOSTENIBILE
M4                               ISTRUZIONE E RICERCA
M5                              INCLUSIONE E COESIONE
M6                                             SALUTE

In [14]:
mi = match_investimenti.merge(missioni_map,left_on="CODICE_MISSIONE", right_on=missioni_map.index, how='inner')
mi.columns
match_investimenti = mi[["CODICE_TEMATICA","MISSIONE","CODICE_MISSIONE",'COMPONENTE',"CODICE_COMPONENTE",'INVESTIMENTO']]
match_investimenti

,CODICE_TEMATICA,MISSIONE,CODICE_MISSIONE,COMPONENTE,CODICE_COMPONENTE,INVESTIMENTO
0,432,RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA,M2,Agricoltura sostenibile ed Economia Circolare,M2C1,I2.2:Parco Agrisolare
1,462,RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA,M2,Tutela del territorio e della risorsa idrica,M2C4,"I2.2:Interventi per la resilienza, la valorizz..."
2,429,RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA,M2,Agricoltura sostenibile ed Economia Circolare,M2C1,I1.1:Realizzazione nuovi impianti di gestione ...
3,431,RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA,M2,Agricoltura sostenibile ed Economia Circolare,M2C1,I2.1:Sviluppo logistica per i settori agroalim...
4,453,RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA,M2,"Energia rinnovabile, idrogeno, rete e mobilità...",M2C2,I5.2:Idrogeno
...,...,...,...,...,...,...
142,477,INFRASTRUTTURE PER UNA MOBILITÀ SOSTENIBILE,M3,Investimenti sulla rete ferroviaria,M3C1,I1.6:Potenziamento delle linee regionali: Migl...
143,472,INFRASTRUTTURE PER UNA MOBILITÀ SOSTENIBILE,M3,Investimenti sulla rete ferroviaria,M3C1,I1.1:Collegamenti ferroviari ad Alta Velocità ...
144,475,INFRASTRUTTURE PER UNA MOBILITÀ SOSTENIBILE,M3,Investimenti sulla rete ferroviaria,M3C1,I1.4:Sviluppo del sistema europeo di gestione ...
145,481,INFRASTRUTTURE PER UNA MOBILITÀ SOSTENIBILE,M3,Intermodalità e logistica integrata,M3C2,I2.2:Digitalizzazione della gestione del traff...
146,479,INFRASTRUTTURE PER UNA MOBILITÀ SOSTENIBILE,M3,Investimenti sulla rete ferroviaria,M3C1,I1.8:Miglioramento delle stazioni ferroviarie ...

In [15]:
tmp = tmp.merge(missioni_map,left_on="CODICE_MISSIONE", right_on=missioni_map.index, how='inner')

In [16]:
tmp.columns

Index(['CODICE_CUP', 'CODICE_TEMATICA', 'NOME_TEMATICA', 'CODICE_TEMPLATE',
       'DESCRIZIONE_TEMPLATE', 'CODICE_NATURA', 'DESCRIZIONE_NATURA',
       'CODICE_TIPOLOGIA', 'DESCRIZIONE_TIPOLOGIA', 'DESCRIZIONE_AGGREGATA',
       'SOGGETTO_TITOLARE', 'PIVA_SOGGETTO', 'UNITA_ORGANIZZATIVA',
       'STRUMENTO_PROGRAMMAZIONE', 'CODICE_STATO', 'STATO', 'CODICE_REGIONE',
       'REGIONE', 'CODICE_PROVINCIA', 'PROVINCIA', 'CODICE_COMUNE', 'COMUNE',
       'CODICE_SETTORE_INTERVENTO', 'SETTORE_INTERVENTO',
       'CODICE_SOTTOSETTORE_INTERVENTO', 'SOTTOSETTORE_INTERVENTO',
       'CODICE_CATEGORIA_INTERVENTO', 'CATEGORIA_INTERVENTO', 'ANNO_DECISIONE',
       'DATA_GENERAZIONE_COMPLETO', 'COSTO_PROGETTO', 'IMPORTO_FINANZIAMENTO',
       'STATO_PROGETTO', 'TIPO_PROGETTO', 'CODICE_COMPONENTE',
       'CODICE_MISSIONE', 'COMPONENTE', 'INVESTIMENTO', 'MISSIONE'],
      dtype='object')

In [17]:
cup_miss = tmp[['CODICE_CUP',"CODICE_MISSIONE","MISSIONE"]]

In [18]:
cup_miss

,CODICE_CUP,CODICE_MISSIONE,MISSIONE
0,D97H23002600004,M2,RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA
1,D87H23003000004,M2,RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA
2,D87H23002990004,M2,RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA
3,D37H23002980004,M2,RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA
4,D87H23002980004,M2,RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA
...,...,...,...
359877,J71H92000000007,M3,INFRASTRUTTURE PER UNA MOBILITÀ SOSTENIBILE
359878,J71H92000000007,M3,INFRASTRUTTURE PER UNA MOBILITÀ SOSTENIBILE
359879,J71H92000000007,M3,INFRASTRUTTURE PER UNA MOBILITÀ SOSTENIBILE
359880,J71H92000000007,M3,INFRASTRUTTURE PER UNA MOBILITÀ SOSTENIBILE
359881,J19G01000000001,M3,INFRASTRUTTURE PER UNA MOBILITÀ SOSTENIBILE

Approfondimento deroghe

In [8]:
type(p04['quota_femminile'][0])

numpy.float64

In [9]:
# preprocessing encoding righe
p04['quota_femminile'] = p04['quota_femminile'].astype("Int32")
p04['quota_giovanile'] = p04['quota_giovanile'].astype("Int32")

In [10]:
p04.shape

(193050, 6)

In [11]:
p04['quota_femminile'] = p04['quota_femminile'].apply(lambda x: x / 10 ** (len((str(x))) - 2))
p04['quota_giovanile'] = p04['quota_giovanile'].apply(lambda x: x / 10 ** (len((str(x))) - 2))
p04['quota_femminile'] = p04['quota_femminile'].astype("Float64")
p04['quota_giovanile'] = p04['quota_giovanile'].astype("Float64")

In [13]:
p04.dtypes

CIG                 object
flag_quote          object
quota_femminile    Float64
quota_giovanile    Float64
cod_mot_deroga     float64
mot_deroga          object
dtype: object

In [14]:
p04['quota_femminile'][16]+p04['quota_femminile'][42]

25.0

In [24]:
pq = p04[p04['flag_quote']=='Q']

In [25]:
pq

,CIG,flag_quote,quota_femminile,quota_giovanile,cod_mot_deroga,mot_deroga
16,9835262AF3,Q,15.0,30.0,2.0,MERCATO DI RIFERIMENTO
42,A024798998,Q,10.0,<NA>,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
54,9517302610,Q,14.0,<NA>,1.0,IMPORTO RIDOTTO DEL CONTRATTO
55,9517302610,Q,14.0,<NA>,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
110,9952267689,Q,15.0,15.0,6.0,NECESSITÀ DI ESPERIENZA O DI PARTICOLARI ABILI...
...,...,...,...,...,...,...
191080,9886057850,Q,20.0,<NA>,2.0,MERCATO DI RIFERIMENTO
191081,9886057850,Q,20.0,<NA>,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
191110,A002EA1B89,Q,0.0,30.0,2.0,MERCATO DI RIFERIMENTO
191111,A002EA1B89,Q,0.0,30.0,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
191123,A00CA909BD,Q,30.0,30.0,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE

In [26]:
pq[pq['quota_femminile'].isna()&pq['quota_giovanile'].isna()]

,CIG,flag_quote,quota_femminile,quota_giovanile,cod_mot_deroga,mot_deroga
115860,9920759550,Q,<NA>,<NA>,NaN,NaN
168595,9989128931,Q,<NA>,<NA>,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE

In [15]:
p04[p04['quota_femminile'].notna()&p04['quota_giovanile'].notna()]

,CIG,flag_quote,quota_femminile,quota_giovanile,cod_mot_deroga,mot_deroga
16,9835262AF3,Q,15.0,30.0,2.0,MERCATO DI RIFERIMENTO
110,9952267689,Q,15.0,15.0,6.0,NECESSITÀ DI ESPERIENZA O DI PARTICOLARI ABILI...
121,A00A8EE88B,Q,10.0,30.0,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
171,9448183742,Q,20.0,20.0,6.0,NECESSITÀ DI ESPERIENZA O DI PARTICOLARI ABILI...
172,9448183742,Q,20.0,20.0,7.0,ASSUNZIONE DI UN NUMERO DI LAVORATORI INFERIOR...
...,...,...,...,...,...,...
190884,9746774C57,Q,15.0,30.0,9.0,ADESIONE AD AQ/CONVENZIONE PRECEDENTE ALLE LIN...
190936,97553300FD,Q,10.07,26.74,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
191110,A002EA1B89,Q,0.0,30.0,2.0,MERCATO DI RIFERIMENTO
191111,A002EA1B89,Q,0.0,30.0,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
191123,A00CA909BD,Q,30.0,30.0,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE

In [80]:
p04[p04['flag_quote']=="S"]['cod_mot_deroga'].notna().sum()
# 795 CIG su 58366 [1.4%] della casistica "S" & con "motivo deroga" valorizzato

795

In [89]:
p04['flag_quote'].value_counts()

flag_quote
N    126869
S     58366
Q      6457
Name: count, dtype: int64

In [30]:
# IN DEROGA PROPRIO LA QUOTA FEMMINILE

pq['quota_femminile'].notna().sum()
pq[pq['quota_femminile'].notna()]

,CIG,flag_quote,quota_femminile,quota_giovanile,cod_mot_deroga,mot_deroga
16,9835262AF3,Q,15.0,30.0,2.0,MERCATO DI RIFERIMENTO
42,A024798998,Q,10.0,<NA>,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
54,9517302610,Q,14.0,<NA>,1.0,IMPORTO RIDOTTO DEL CONTRATTO
55,9517302610,Q,14.0,<NA>,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
110,9952267689,Q,15.0,15.0,6.0,NECESSITÀ DI ESPERIENZA O DI PARTICOLARI ABILI...
...,...,...,...,...,...,...
191080,9886057850,Q,20.0,<NA>,2.0,MERCATO DI RIFERIMENTO
191081,9886057850,Q,20.0,<NA>,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
191110,A002EA1B89,Q,0.0,30.0,2.0,MERCATO DI RIFERIMENTO
191111,A002EA1B89,Q,0.0,30.0,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
191123,A00CA909BD,Q,30.0,30.0,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE

In [ ]:
# N = DEROGA TOTALE NON SPECIFICATA
# S = NO DEROGA (ci sono 1.5% di eccezioni)
# Q = DEROGA SPECIFICATA

In [90]:
p04[p04['flag_quote']=="Q"]

,CIG,flag_quote,quota_femminile,quota_giovanile,cod_mot_deroga,mot_deroga
16,9835262AF3,Q,15.0,30.0,2.0,MERCATO DI RIFERIMENTO
42,A024798998,Q,10.0,<NA>,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
54,9517302610,Q,14.0,<NA>,1.0,IMPORTO RIDOTTO DEL CONTRATTO
55,9517302610,Q,14.0,<NA>,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
110,9952267689,Q,15.0,15.0,6.0,NECESSITÀ DI ESPERIENZA O DI PARTICOLARI ABILI...
...,...,...,...,...,...,...
191080,9886057850,Q,20.0,<NA>,2.0,MERCATO DI RIFERIMENTO
191081,9886057850,Q,20.0,<NA>,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
191110,A002EA1B89,Q,0.0,30.0,2.0,MERCATO DI RIFERIMENTO
191111,A002EA1B89,Q,0.0,30.0,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE
191123,A00CA909BD,Q,30.0,30.0,5.0,SCARSA OCCUPAZIONE FEMMINILE NEL SETTORE

NUOVI MERGE

In [145]:
DNEW1 = pnew.merge(p01, how='inner',on='CIG')

In [146]:
DNEW1.merge(cup_miss,how='inner',left_on='CUP',right_on='CODICE_CUP')

,CIG,cig_accordo_quadro,numero_gara,oggetto_gara,importo_complessivo_gara,n_lotti_componenti,oggetto_lotto,importo_lotto,oggetto_principale_contratto,stato,...,CIG_COLLEGAMENTO,COD_ESITO,ESITO,DATA_COMUNICAZIONE_ESITO,FLAG_PNRR_PNC,file,CUP,CODICE_CUP,CODICE_MISSIONE,MISSIONE
0,94965511CD,NaN,8803480,INTEGRAZIONE ED EVOLUZIONE DEL MODULO GPP CON ...,135244.23,1.0,INTEGRAZIONE ED EVOLUZIONE DEL MODULO GPP CON ...,135244.23,SERVIZI,ATTIVO,...,NaN,NaN,NaN,NaN,1,20231101-cig_csv.gz,G21F22001490006,G21F22001490006,M1,"DIGITALIZZAZIONE, INNOVAZIONE, COMPETITIVITÀ, ..."
1,9804556F8D,NaN,9078886,IMPLEMENTAZIONE COMUNITA' ENERGETICA CON LA PR...,28750.00,1.0,IMPLEMENTAZIONE COMUNITA' ENERGETICA CON LA PR...,28750.00,LAVORI,ATTIVO,...,NaN,1.0,AGGIUDICATA,2023-06-21,1,20231101-cig_csv.gz,I64D22002530001,I64D22002530001,M2,RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA
2,98790398E0,NaN,9147603,IMPLEMENTAZIONE COMUNITA' ENERGETICA CON LA PR...,32288.85,1.0,IMPLEMENTAZIONE COMUNITA' ENERGETICA CON LA PR...,32288.85,LAVORI,ATTIVO,...,NaN,NaN,NaN,NaN,1,20231101-cig_csv.gz,I64D22002530001,I64D22002530001,M2,RIVOLUZIONE VERDE E TRANSIZIONE ECOLOGICA
3,95737024D1,NaN,8875335,PIANO NAZIONALE DI RIPRESA E RESILIENZA - MISS...,37683.44,1.0,PIANO NAZIONALE DI RIPRESA E RESILIENZA - MISS...,37683.44,SERVIZI,ATTIVO,...,NaN,NaN,NaN,NaN,1,20231101-cig_csv.gz,F44E22000130006,F44E22000130006,M4,ISTRUZIONE E RICERCA
4,A0023BDECD,NaN,9268524,PIANO NAZIONALE DI RIPRESA E RESILIENZA - MISS...,2500.00,1.0,PIANO NAZIONALE DI RIPRESA E RESILIENZA - MISS...,2500.00,SERVIZI,ATTIVO,...,NaN,1.0,AGGIUDICATA,2023-08-04,1,20231101-cig_csv.gz,F44E22000130006,F44E22000130006,M4,ISTRUZIONE E RICERCA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60587,9902654897,NaN,9169103,"INCARICO DI PROGETTAZIONE DEF., PROGETT. ESEC....",81362.72,1.0,"INCARICO DI PROGETTAZIONE DEF., PROGETT. ESEC....",81362.72,SERVIZI,ATTIVO,...,NaN,1.0,AGGIUDICATA,2023-08-09,1,20231101-cig_csv.gz,D83I22000030007,D83I22000030007,M5,INCLUSIONE E COESIONE
60588,9714402222,NaN,8999816,MISSIONE 1 ABILITAZIONE AL CLOUD PER LE PA LOC...,13500.00,1.0,MISSIONE 1 ABILITAZIONE AL CLOUD PER LE PA LOC...,13500.00,SERVIZI,ATTIVO,...,NaN,NaN,NaN,NaN,1,20231101-cig_csv.gz,J71C22000280006,J71C22000280006,M1,"DIGITALIZZAZIONE, INNOVAZIONE, COMPETITIVITÀ, ..."
60589,98838066BB,NaN,9152917,AFFIDAMENTO 'CONGIUNTO' DELLA PROGETTAZIONE DE...,201046.99,1.0,AFFIDAMENTO 'CONGIUNTO' DELLA PROGETTAZIONE DE...,201046.99,LAVORI,ATTIVO,...,NaN,3.0,DESERTA,2023-06-20,1,20231101-cig_csv.gz,B18H22000030006,B18H22000030006,M4,ISTRUZIONE E RICERCA
60590,9998983DCA,NaN,9258977,"AFFIDAMENTO DIRETTO, AI SENSI DELL'ART. 1, COM...",21034.21,1.0,"AFFIDAMENTO DIRETTO, AI SENSI DELL'ART. 1, COM...",21034.21,SERVIZI,ATTIVO,...,NaN,NaN,NaN,NaN,1,20231101-cig_csv.gz,I89I22000020001,I89I22000020001,M6,SALUTE
60591,998232070E,NaN,9243076,PNRR LABS RIFACIMENTO IMPIANTO ELETTRICO SECON...,8176.00,1.0,PNRR LABS RIFACIMENTO IMPIANTO ELETTRICO SECON...,8176.00,SERVIZI,ATTIVO,...,NaN,NaN,NaN,NaN,1,20231101-cig_csv.gz,I74D22004000006,I74D22004000006,M4,ISTRUZIONE E RICERCA